ErrorDocument 404 404.html
ErrorDocument 403 403.html
ErrorDocument 500 500.html

# Deny downloading .htaccess
<Files ".ht*">
    Require all denied
</Files>
Options -Indexes

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://galang23.github.io/$1 [R,L]404.html
DirectoryIndex index.html

#PHP (?)
#LoadModule php5_module modules/php5apache2_4.dll

#PHPIniDir "modules/php.ini"