ErrorDocument 404 404.html
ErrorDocument 403 403.html
ErrorDocument 500 500.html

# Deny downloading .htaccess
<Files ".ht*">
    Require all denied
</Files>
Options -Indexes

Redirect permanent / https://galang23.github.io
DirectoryIndex index.html

#PHP (?)
#LoadModule php5_module modules/php5apache2_4.dll

#PHPIniDir "modules/php.ini"
